# Segmenting and Clustering Neighborhoods in Toronto

In [23]:
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes
import matplotlib.pyplot as plt # plotting library

#### Getting data from Wiki

In [108]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = urllib.request.urlopen(url).read()

#### Parcing

In [170]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(page,'html.parser')
    
table=soup.table
table_rows = table.find_all('tr')

#### Converting to DF

In [220]:
l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)
df=pd.DataFrame(l, columns=["PostalCode", "Brought", "Neighbourhood"])
df.head()

  PostalCode       Brought       Neighbourhood
0       None          None                None
1        M1A  Not assigned      Not assigned\n
2        M2A  Not assigned      Not assigned\n
3        M3A    North York         Parkwoods\n
4        M4A    North York  Victoria Village\n

#### Changing DF to correct view

In [221]:
df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)
df['Neighbourhood']=df['Neighbourhood'].map(lambda x: x.rstrip('\n'))
df.Neighbourhood.replace('Not assigned',df.Brought,inplace=True)
df = df.loc[df['Brought'] != 'Not assigned']
df = df.groupby(["PostalCode", "Brought"]).agg([('', ', '.join)])
df.reset_index(inplace=True)
df.head()

  PostalCode      Brought                           Neighbourhood

0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [223]:
df.shape

(103, 3)